body {
  background-color: #77d6ac;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #965c37;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  /* text-shadow: 2px 2px 4px #ffffff; */
}

h1 {
  color: #000000;
  font-size: 0.45em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.mobile {
  display: none;

}

.board-container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0.62rem auto 0.62rem auto;
  width: 40rem;
  background-color: #965c37;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  border-radius: 1rem;

  /* background-color: #595959;*/
}

.rows-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 4fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  margin: 0;
  padding: 0;
}

/************* SECRET CODE *************/

.secretCode-container {

  padding: 1rem 0 1rem 0;
  border: #000000 1px solid;
}

.secretCode {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 6.2rem 0 2.6rem;

}




/************* COLORS TO CHOOSE *************/
.colors-container {
  display: grid;
}

.colors-element {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
  width: 32rem;
}

.circle-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* position: absolute;*/


}

.circle-container:hover {
  box-shadow: rgba(0, 0, 0, 0.648) 0px 8px 15px;
  transform: scale(1.15);
  transition: 0.3s;
  cursor: grab;
}

.circle-container:focus {
  transform: scale(1.1);

  transition: 0.3s;
  border: #000000 5px solid;

}

/*********** ROW TO TRY ************/

.rows-toTry {
  border: solid red 1px;
  /*position: absolute;*/
}

.cell-toTry {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
}


.emptyCircle-container {
  /*position: absolute;*/
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

/*********** RESULT ************/


.cell-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.colorsResult-element {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
}


/* .colorsResult-container {
  margin-top: 1px;
} */

.circleResult-container {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*********** MEDIA QUERIES ************/
@media (max-width: 768px) {

  .title h1 {
    display: none;

  }

  .mobile {
    display: block;
    font-size: 10px;
    color: #000000;
  }

  .board-container {
    width: 20rem;

  }

  .colors-element {
    width: 20rem;
  }

  .circle-container {
    width: 30px;
    height: 30px;
  }

  .emptyCircle-container {
    width: 30px;
    height: 30px;
  }

  .cell-result {
    padding: 0.9rem;
  }

  .colorsResult-element {
    padding: 0.5rem;
  }

  .circleResult-container {
    width: 10px;
    height: 10px;
  }
}